/* @embed base.css */
/* reset */
body, div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-shrink: 0;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  color: white;
  background-color: black;
}

#root {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* TODO: Styling */

table.room {
  /* TODO: Remove outline, make big and centred */
  font-size: 40px;
}
